{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
    <link rel="stylesheet" href="{% static 'secpubapp/style.css' %}">
</head>
<body>
     <nav class="link">
            <a href="{% url 'add_book' %}">Add Book</a>
            <a href="{% url 'book_list' %}">Book List</a>
            <a href="#">Login</a>
            <a href="{% url 'create_user' %}">Register</a>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Edit Book</a>
            <a href="#">Delete Book</a>
            <a href="#">Search Books</a>
            <a href="#">Reset Password</a>
     </nav>
    <h1>Add Book</h1>
    {% if user.is_authenticated %}
    Welcome, {{ user.first_name|slice:":1" }}{{ user.last_name|slice:":1" }}!
          {% endif %}
    <form method="post" class="form-card">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Book</button>
    </form>
</body>
</html>
