{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name = "device-width" content="width= device-width" initial-scale="1.0">
        <title>Create User</title>
        <link rel="stylesheet" href="{% static '/secpubapp/create.css' %}">
    </head>
    <body>
        <header>
            <h1>User Details for new users</h1>
        </header>
        <main>
            <div class =create-card>
           <form action="" meathod= "post">
        {% csrf_token %}
        <input type="text" name="Name" placeholder="Enter full name" required>
       <input type = email name="username" placeholder="Enter user email" required>
        <input type="password" name=" password" placeholder="password" required>
        <input type="password" name="confirm_password" placeholder="Confirm password" required>
        <button type="submit">Save</button>
           </form>
           </div>
        </main>
      <section>
        <h2>Publication users form</h2>
        <p>The new user will be created after save</p>
      </section>
     <footer>
        <p>&copy; All right reserved by @Homsi</p>
     </footer>
    </body>
</html>