{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
    <link rel="stylesheet" href="{% static 'secpubapp/styleedit.css' %}">
</head>
<body>
    <main>
        <section class="nav">
            <a href="{% url 'add_book' %}">Add Book</a>
            <a href="{% url 'book_list' %}">Book List</a>
            <a href="#">Login</a>
            <a href="#">Register</a>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Edit Book</a>
            <a href="#">Delete Book</a>
            <a href="#">Search Books</a>
            <a href="#">Reset Password</a>
        </section>
        <form method="post" class="Edit">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        <p>Copyright 2025 Done by Amos NDAYIZEYE</p>
    </main>
</body>
</html>